#changelog {
	margin-top: 50px;
}

#timeline {
	margin:   30px 20px;
	padding:  20px 0;
	position: relative;
	&::before {
		background: fade( @changelog-theme, 40% );
		bottom:     0;
		content:    "";
		left:       100px;
		position:   absolute;
		top:        0;
		width:      2px;
	}
	.content {
		overflow: hidden;
		position: relative;
		&::before {
			background:    fade( @changelog-theme, 40% );
			border-radius: 4px;
			bottom:        0;
			content:       "";
			height:        8px;
			left:          100px;
			margin-left:   -3px;
			position:      absolute;
			top:           9px;
			width:         8px;
		}
		> .wardrobe {
			display:     block;
			float:       left;
			font-size:   @sub-font-size;
			font-family: "Maven Pro";
			margin-left: 20px;
			width:       600px;
			&::before {
				content: "アイテム登録数：";
			}
		}
	}
	.version {
		color:       @sub-key-tone;
		display:     block;
		float:       left;
		font-size:   @sub-font-size;
		font-family: "Maven Pro";
		width:       100px;
	}
	.release {
		color:       @sub-key-tone;
		display:     block;
		float:       left;
		font-size:   @sub-font-size;
		font-family: "Maven Pro";
		margin-left: 20px;
		width:       100px;
	}
	.description {
		float:   left;
		margin:  0 0 30px 0;
		padding: 0 0 0 120px;
		width:   800px;
	}
	.change-list {
		float:   left;
		margin:  10px 0 30px 0;
		padding: 0 0 0 120px;
		width:   800px;
		li {
			padding-left: 1em;
			text-indent: -1em;
			p {
				font-size:   @sub-font-size;
				padding:     0 15px;
				text-indent: 0;
			}
		}
		li::before {
			border-radius: 0;
			margin-bottom: 2px;
		}
		.changelog-tab {
			font-family: "Maven Pro";
		}
		ul {
			margin-bottom: 10px;
			padding-left:  20px;
			li::before { border-radius: 4px; }
		}
		.advisor    { &::before, ::before { background: fade( @advisor-theme,    60% ); } }
		.wardrobe   { &::before, ::before { background: fade( @wardrobe-theme,   60% ); } }
		.purveyor   { &::before, ::before { background: fade( @purveyor-theme,   60% ); } }
		.cheatsheet { &::before, ::before { background: fade( @cheatsheet-theme, 60% ); } }
		.credit     { &::before, ::before { background: fade( @credit-theme,     60% ); } }
		.changelog  { &::before, ::before { background: fade( @changelog-theme,  60% ); } }

		.foundation { &::before, ::before { background: fade( @changelog-theme,  60% ); } }
		.database   { &::before, ::before { background: fade( @wardrobe-theme,   60% ); } }
	}
	.with-figure {
		float:   left;
		margin:  10px 0 30px 0;
		padding: 0 0 0 120px;
		width:   850px;
		.change-list {
			padding: 0;
			margin:  0;
			width:   400px;
		}
	}
	.figure {
		box-shadow:   1px 1px 2px fade( @BlackInk, 50% );
		float:        right;
		max-width:    300px;
	}
}

.item-proc-type {
	display: inline-block;
	width:   290px;
	&::after { content: "："; }
}

.emunate-same {
	color:       @dif-same;
	font-family: "Maven Pro";
	font-size:   @tiny-font-size;
	font-weight: bold;
}
