// #advisor {}

@object-conditions-width: 600px;

.tag-factory {
	.disable-select();
	cursor:     pointer;
	text-align: center;
	width:      170px;
	span {
		border-radius: 4px;
		display:       inline-block;
		line-height:   1;
		padding:       3px 10px;
	}
}

#objective {
	overflow:      auto;
	margin-bottom: 20px;
}
	#objective-conditions {
		float: left;
		width: @object-conditions-width;
	}
		#request-stage {
			.disable-select();
			border-radius: 4px;
			cursor:        pointer;
			float:         left;
			height:        41px;
			padding:       5px;
			margin:        5px 20px 5px 0;
			width:         450px;
			&:hover {
				.field-border( @advisor-theme );
			}
		}
			#request-stage-title {
				font-size:     @subject-font-size;
				font-weight:   bold;
				display:       block;
				line-height:   1.2;
				text-overflow: ellipsis;
				overflow:      hidden;
				white-space:   nowrap;
			}
			#request-chapter {
				font-size:   @sub-font-size;
				display:     block;
				line-height: 1;
			}
		#optimal-search {
			float:      left;
			margin:     11px 0 0 0;
			text-align: center;
			width:      130px;
		}
			#condition-determination {
				.disable-select();
				border-radius: 4px;
				box-sizing:    border-box;
				color:         @sub-key-tone;
				cursor:        pointer;
				display:       inline-block;
				line-height:   1.5;
				padding:       0 10px;
				&:hover  {
					border: 1px solid @advisor-theme;
					color:  @key-tone;
				}
				&:active { .slant-stripe-background( @advisor-theme, 25% ); }
			}
		#criteria-subject {
			.disable-select();
			border-radius: 4px;
			clear:         both;
			color:         @StrawberryPink;
			cursor:        pointer;
			padding:       0 5px;
			&:hover   { .field-border( @advisor-theme ); }
			&.initial { color: @insparkly-color; }
		}
		#input-criteria-subject input {
			color:          @StrawberryPink;
			font-size:      @standard-font-size;
			padding:        0 5px;
			width:          @object-conditions-width;
		}
		// #criteria {}
			#criteria-style {
				.disable-select();
				font-size: @sub-font-size;
				margin:    10px 0;
				th {
					color:        @non-sparkly-color;
					padding-left: 15px;
					text-align:   left;
					width:        85px;
					&.sparkly {
						font-weight: bold;
						&.gorgeous { color: @GORGEOUS; }
						&.simple   { color: @SIMPLE;   }
						&.elegance { color: @ELEGANCE; }
						&.lively   { color: @LIVELY;   }
						&.mature   { color: @MATURE;   }
						&.cute     { color: @CUTE;     }
						&.sexy     { color: @SEXY;     }
						&.pure     { color: @PURE;     }
						&.warm     { color: @WARM;     }
						&.cool     { color: @COOL;     }
					}
				}
				td {
					padding: 0;
					width:   40px;
				}
				.editable {
					border-radius: 4px;
					color:         @same-scale;
					cursor:        pointer;
					display:       block;
					font-family:   "Maven Pro";
					font-weight:   bold;
					padding:       0 5px;
					text-align:    right;
					text-overflow: ellipsis;
					overflow:      hidden;
					white-space:   nowrap;
					width:         40px;
					&.increase { color: @increase-scale; }
					&.reduce   { color: @reduce-scale; }
					&:hover    { .field-border( @advisor-theme ); }
				}
				input {
					color:          @key-tone;
					display:        block;
					font-family:    "Maven Pro";
					font-size:      @sub-font-size;
					font-weight:    bold;
					text-align:     right;
					padding:        0 5px;
					width:          40px;
				}
			}
			#criteria-tags {
				font-size:     @sub-font-size;
				margin-top:    15px;
				margin-bottom: 25px;
				overflow:      auto;
				.tag-box {
					float: left;
					width: 280px;
				}
				.tag {
					.tag-factory();
					display: block;
					float:   left;
					.tag-color( @color ) {
						span {
							border: 2px solid fade( @color, 25% );
							color:  @color;
							&:hover { .slant-stripe-background( @color, 10% ); }
						}
					}
					&.tag-none          { .tag-color( @TAG-NONE          ); }
					&.sun-care          { .tag-color( @SUN-CARE          ); }
					&.dance             { .tag-color( @DANCE             ); }
					&.floral            { .tag-color( @FLORAL            ); }
					&.winter            { .tag-color( @WINTER            ); }
					&.britain           { .tag-color( @BRITAIN           ); }
					&.swimsuit          { .tag-color( @SWIMSUIT          ); }
					&.shower            { .tag-color( @SHOWER            ); }
					&.kimono            { .tag-color( @KIMONO            ); }
					&.pajamas           { .tag-color( @PAJAMAS           ); }
					&.wedding           { .tag-color( @WEDDING           ); }
					&.army              { .tag-color( @ARMY              ); }
					&.office            { .tag-color( @OFFICE            ); }
					&.apron             { .tag-color( @APRON             ); }
					&.cheogsam          { .tag-color( @CHEOGSAM          ); }
					&.maiden            { .tag-color( @MAIDEN            ); }
					&.evening-gown      { .tag-color( @EVENING-GOWN      ); }
					&.navy              { .tag-color( @NAVY              ); }
					&.traditional       { .tag-color( @TRADITIONAL       ); }
					&.bunny             { .tag-color( @BUNNY             ); }
					&.lady              { .tag-color( @LADY              ); }
					&.lolita            { .tag-color( @LOLITA            ); }
					&.gothic            { .tag-color( @GOTHIC            ); }
					&.sports            { .tag-color( @SPORTS            ); }
					&.harajuku          { .tag-color( @HARAJUKU          ); }
					&.preppy            { .tag-color( @PREPPY            ); }
					&.unisex            { .tag-color( @UNISEX            ); }
					&.future            { .tag-color( @FUTURE            ); }
					&.fairy             { .tag-color( @FAIRY             ); }
					&.rock              { .tag-color( @ROCK              ); }
					&.denim             { .tag-color( @DENIM             ); }
					&.pet               { .tag-color( @PET               ); }
					&.goddess           { .tag-color( @GODDESS           ); }
					&.pop               { .tag-color( @POP               ); }
					&.homewear          { .tag-color( @HOMEWEAR          ); }
					&.chinese-classical { .tag-color( @CHINESE-CLASSICAL ); }
					&.hindu             { .tag-color( @HINDU             ); }
					&.republic-of-china { .tag-color( @REPUBLIC-OF-CHINA ); }
					&.european          { .tag-color( @EUROPEAN          ); }
					&.swordman          { .tag-color( @SWORDMAN          ); }
					&.rain              { .tag-color( @RAIN              ); }
					&.modern-china      { .tag-color( @MODERN-CHINA      ); }
					&.dryad             { .tag-color( @DRYAD             ); }
					&.bohemia           { .tag-color( @BOHEMIA           ); }
					&.paramedics        { .tag-color( @PARAMEDICS        ); }
				}
				.value {
					.disable-select();
					border-radius: 4px;
					cursor:        pointer;
					display:       block;
					float:         left;
					font-family:   "Maven Pro";
					font-weight:   bold;
					padding:       0 5px;
					text-align:    center;
					width:         50px;
					&:hover { .field-border( @advisor-theme ); }

					&.ss { color: @attributes-value-s; }
					&.s  { color: @attributes-value-s; }
					&.a  { color: @attributes-value-a; }
					&.b  { color: @attributes-value-b; }
					&.c  { color: @attributes-value-c; }
				}
				.product {
					.disable-select();
					border-radius: 4px;
					cursor:        pointer;
					display:       block;
					float:         left;
					font-family:   "Maven Pro";
					font-weight:   bold;
					text-align:    right;
					padding:       0 5px;
					width:         50px;
					&::before { content: "x"; }
					&:hover   { .field-border( @advisor-theme ); }
				}
				input {
					color:          @key-tone;
					display:        block;
					font-family:    "Maven Pro";
					font-size:      @sub-font-size;
					font-weight:    bold;
					text-align:     right;
					padding:        0 5px;
					width:          50px;
				}
				.tag-none + .value,
				.tag-none + .value + .product {
					display: none;
				}
			}
			#value-list {
				@side: 24px;
				@horizontal-margin: 2px;
				@vertical-margin:   3px;

				.disable-select();
				display:  none;
				height:   @side + @vertical-margin * 2;
				margin:   0;
				padding:  0;
				position: absolute;
				width:    @side * 5 + @horizontal-margin * 2 * 5;

				li {
					border-radius: @side / 2;
					cursor:        pointer;
					display:       block;
					float:         left;
					font-family:   "Maven Pro";
					font-size:     @sub-font-size;
					font-weight:   bold;
					height:        @side;
					line-height:   @side - 5px;
					margin:        @vertical-margin @horizontal-margin;
					text-align:    center;
					width:         @side;
					&.value {
						.tag-list-item( @color ) {
							border: 2px solid fade( @color, 25% );
							color:  @color;
							&:hover { .slant-stripe-background( @color, 15% ); }
						}
						&.ss { .tag-list-item( @attributes-value-s ); }
						&.s  { .tag-list-item( @attributes-value-s ); }
						&.a  { .tag-list-item( @attributes-value-a ); }
						&.b  { .tag-list-item( @attributes-value-b ); }
						&.c  { .tag-list-item( @attributes-value-c ); }
					}
				}
			}
		#skill {
			margin-left: 20px;
		}
			#scenario-classes {
				.disable-select();
				font-size:   @sub-font-size;
				font-weight: normal;
			}
				#girl-class,
				#princess-class {
					border:        1px solid transparent;
					border-radius: 4px;
					color:         @insparkly-color;
					cursor:        pointer;
					display:       inline-block;
					margin-left:   10px;
					padding:       0 15px 0 5px;

					&::before {
						background:     url( "resources/classes-icon.png" ) no-repeat;
						content:        " ";
						display:        inline-block;
						height:         14px;
						margin-right:   5px;
						vertical-align: sub;
						width:          14px;
					}
				}
				.class-dif( @color, @class ) {
					&:hover   { border-color: fade( @color, 50% ); }
					&.sparkly {
						.slant-stripe-background( @color, 20% );
						color: @key-tone;
					}
					&.sparkly::before,
					&:hover::before {
						background-position: ( @class * -14px ) 0;
					}

					&:active  { background:          fade( @color, 10% ); }
					&::before { background-position: ( @class * -14px ) -14px; }
				}
				#girl-class     { .class-dif( @girl-class-color,     0 ); }
				#princess-class { .class-dif( @princess-class-color, 1 ); }
			#receive-skill-icons {
				overflow: auto;
				margin:   5px 0 5px 0;

				@skill-icon-width:  40px;
				@skill-icon-height: 30px;
				.receive-skills ( @pos ) {
					background-position: ( -1 * @skill-icon-width * @pos ) ( -1 * @skill-icon-height );
					&.sparkly { background-position: ( -1 * @skill-icon-width * @pos ) 0; }
				}
				span {
					background: url( "resources/receive-skills.png" );
					cursor:     pointer;
					display:    block;
					float:      left;
					height:     @skill-icon-height;
					width:      @skill-icon-width;
					&[data-skill="smile"]         { .receive-skills(  0 ); }
					&[data-skill="critical-eye"]  { .receive-skills(  1 ); }
					&[data-skill="pickly-immune"] { .receive-skills(  2 ); }
					&[data-skill="charming"]      { .receive-skills(  3 ); }
					&[data-skill="gift"]          { .receive-skills(  4 ); }
					&[data-skill="gift-immune"]   { .receive-skills(  5 ); }
					&[data-skill="clock"]         { .receive-skills(  6 ); }
					&[data-skill="clock-immune"]  { .receive-skills(  7 ); }
					&[data-skill="sleeping"]      { .receive-skills(  8 ); }
					&[data-skill="true-love"]     { .receive-skills(  9 ); }
					&[data-skill="pickly-bounce"] { .receive-skills( 10 ); }
					&[data-skill="gift-bounce"]   { .receive-skills( 11 ); }
					&[data-skill="cinderella"]    { .receive-skills( 12 ); }
				}
			}
			#receive-skill-names {
				clear: both;
				span {
					border-radius: 4px;
					display:       inline-block;
					font-size:     @sub-font-size;
					line-height:   1;
					padding:       3px 15px;
					&[data-skill="smile"]         { .slant-stripe-background( @SMILE, 50% );         }
					&[data-skill="critical-eye"]  { .slant-stripe-background( @CRITICAL-EYE, 50% );  }
					&[data-skill="pickly-immune"] { .slant-stripe-background( @PICKLY-IMMUNE, 50% ); }
					&[data-skill="charming"]      { .slant-stripe-background( @CHARMING, 50% );      }
					&[data-skill="gift"]          { .slant-stripe-background( @GIFT, 50% );          }
					&[data-skill="gift-immune"]   { .slant-stripe-background( @GIFT-IMMUNE, 50% );   }
					&[data-skill="clock"]         { .slant-stripe-background( @CLOCK, 50% );         }
					&[data-skill="clock-immune"]  { .slant-stripe-background( @CLOCK-IMMUNE, 50% );  }
					&[data-skill="sleeping"]      { .slant-stripe-background( @SLEEPING, 50% );      }
					&[data-skill="true-love"]     { .slant-stripe-background( @TRUE-LOVE, 50% );     }
					&[data-skill="pickly-bounce"] { .slant-stripe-background( @PICKY-BOUNCE, 50% );  }
					&[data-skill="gift-bounce"]   { .slant-stripe-background( @GIFT-BOUNCE, 50% );   }
					&[data-skill="cinderella"]    { .slant-stripe-background( @CINDERELLA, 50% );    }
				}
			}
	#blacklist-items, #whitelist-items {
		overflow: hidden;
		.bw-item, .bw-category {
			display: block;
			float:   left;
			width:   150px;
		}
		.bw-item-category {
			.slant-stripe-background( @advisor-theme, 25% );
			display:       block;
			float:         left;
			font-size:     @sub-font-size;
			overflow:      hidden;
			padding:       0 5px;
			text-overflow: ellipsis;
			white-space:   nowrap;
			width:         120px;
			border-radius: 4px;
			&::after {
				content:   "all";
				font-size: @tiny-font-size;
			}
		}
		.bw-item-name {
			display:       block;
			float:         left;
			font-size:     @sub-font-size;
			overflow:      hidden;
			padding:       0 5px;
			text-overflow: ellipsis;
			white-space:   nowrap;
			width:         120px;
		}
		.slot-icon {
			background:     url( "resources/line-slot-icons.png" ) no-repeat top left;
			display:        block;
			float:          left;
			height:         20px;
			margin:         0 5px;
			width:          20px;

			.slot-icon( @pos ) { background-position: 0 ( @pos * -20px ); }
			&.hair                 { .slot-icon(  0 ); }
			&.dress                { .slot-icon(  1 ); }
			&.coat                 { .slot-icon(  2 ); }
			&.tops                 { .slot-icon(  3 ); }
			&.bottoms              { .slot-icon(  4 ); }
			&.hosiery              { .slot-icon(  5 ); }
			&.anklet               { .slot-icon(  5 ); }
			&.shoes                { .slot-icon(  6 ); }
		//	&.accessory            { .slot-icon(  7 ); }
		//	&.headwear             { .slot-icon(  8 ); }
			&.makeup               { .slot-icon( 15 ); }
			&.hair-ornaments       { .slot-icon( 16 ); }
			&.veil                 { .slot-icon( 17 ); }
			&.hairpin              { .slot-icon( 18 ); }
			&.ear                  { .slot-icon( 19 ); }
			&.earrings             { .slot-icon(  9 ); }
		//	&.necklace             { .slot-icon( 10 ); }
			&.scarf                { .slot-icon( 20 ); }
			&.necklace             { .slot-icon( 21 ); }
			&.bracelet             { .slot-icon( 11 ); }
			&.right-hand-ornaments { .slot-icon( 22 ); }
			&.left-hand-ornaments  { .slot-icon( 23 ); }
			&.glove                { .slot-icon( 24 ); }
			&.handheld             { .slot-icon( 12 ); }
			&.right-hand-holding   { .slot-icon( 25 ); }
			&.left-hand-holding    { .slot-icon( 26 ); }
			&.both-hand-holding    { .slot-icon( 27 ); }
			&.waist                { .slot-icon( 13 ); }
			&.special              { .slot-icon( 14 ); }
			&.face                 { .slot-icon( 28 ); }
			&.brooch               { .slot-icon( 29 ); }
			&.tatoo                { .slot-icon( 30 ); }
			&.wing                 { .slot-icon( 31 ); }
			&.tail                 { .slot-icon( 32 ); }
			&.foreground           { .slot-icon( 33 ); }
			&.background           { .slot-icon( 34 ); }
			&.head-ornaments       { .slot-icon( 35 ); }
			&.ground               { .slot-icon( 36 ); }
			&.skin                 { .slot-icon( 37 ); }
		}
		.bw-category .slot-icon.necklace { background-position: 0 -200px; }
		.bw-tag {
			.tag-factory();
			cursor:    default;
			display:   block;
			float:     left;
			font-size: @sub-font-size;
			.tag-color( @color ) {
				span {
					border: 2px solid fade( @color, 25% );
					color:  @color;
				}
			}
			&.tag-none          { .tag-color( @TAG-NONE          ); }
			&.sun-care          { .tag-color( @SUN-CARE          ); }
			&.dance             { .tag-color( @DANCE             ); }
			&.floral            { .tag-color( @FLORAL            ); }
			&.winter            { .tag-color( @WINTER            ); }
			&.britain           { .tag-color( @BRITAIN           ); }
			&.swimsuit          { .tag-color( @SWIMSUIT          ); }
			&.shower            { .tag-color( @SHOWER            ); }
			&.kimono            { .tag-color( @KIMONO            ); }
			&.pajamas           { .tag-color( @PAJAMAS           ); }
			&.wedding           { .tag-color( @WEDDING           ); }
			&.army              { .tag-color( @ARMY              ); }
			&.office            { .tag-color( @OFFICE            ); }
			&.apron             { .tag-color( @APRON             ); }
			&.cheogsam          { .tag-color( @CHEOGSAM          ); }
			&.maiden            { .tag-color( @MAIDEN            ); }
			&.evening-gown      { .tag-color( @EVENING-GOWN      ); }
			&.navy              { .tag-color( @NAVY              ); }
			&.traditional       { .tag-color( @TRADITIONAL       ); }
			&.bunny             { .tag-color( @BUNNY             ); }
			&.lady              { .tag-color( @LADY              ); }
			&.lolita            { .tag-color( @LOLITA            ); }
			&.gothic            { .tag-color( @GOTHIC            ); }
			&.sports            { .tag-color( @SPORTS            ); }
			&.harajuku          { .tag-color( @HARAJUKU          ); }
			&.preppy            { .tag-color( @PREPPY            ); }
			&.unisex            { .tag-color( @UNISEX            ); }
			&.future            { .tag-color( @FUTURE            ); }
			&.fairy             { .tag-color( @FAIRY             ); }
			&.rock              { .tag-color( @ROCK              ); }
			&.denim             { .tag-color( @DENIM             ); }
			&.pet               { .tag-color( @PET               ); }
			&.goddess           { .tag-color( @GODDESS           ); }
			&.pop               { .tag-color( @POP               ); }
			&.homewear          { .tag-color( @HOMEWEAR          ); }
			&.chinese-classical { .tag-color( @CHINESE-CLASSICAL ); }
			&.hindu             { .tag-color( @HINDU             ); }
			&.republic-of-china { .tag-color( @REPUBLIC-OF-CHINA ); }
			&.european          { .tag-color( @EUROPEAN          ); }
			&.swordman          { .tag-color( @SWORDMAN          ); }
			&.rain              { .tag-color( @RAIN              ); }
			&.modern-china      { .tag-color( @MODERN-CHINA      ); }
			&.dryad             { .tag-color( @DRYAD             ); }
			&.bohemia           { .tag-color( @BOHEMIA           ); }
			&.paramedics        { .tag-color( @PARAMEDICS        ); }
		}
		.unseen {
			display:    block;
			text-align: center;
			width:      150px;
			span {
				.slant-stripe-background( @inaccent-color, 25% );
				border-radius: 4px;
				font-size:     @sub-font-size;
				padding:       0 15px;
			}
		}
	}

	#options {
		float: left;
		width: 300px;
	}

#feasible {
	position: relative;
}
#recommends {
	overflow: hidden;
}
#recommends-controle {
	.disable-select();
	color:       @insparkly-color;
	font-size:   @standard-font-size;
	font-weight: normal;
	display:     inline-block;

	.button-wrapper {
		display:     inline-block;
		margin-left: 10px;
		text-align:  center;
		width:       130px;
		> span {
			border-radius: 2px;
			cursor:        pointer;
			display:       inline-block;
			box-sizing:    border-box;
			padding:       0 15px;
			&:hover {
				border: 1px solid @advisor-theme;
				color:  @key-tone;
				.icon( @advisor-theme, 0.2s );
			}
			&:active {
				.slant-stripe-background( @advisor-theme, 25% );
				color: @key-tone;
				.icon( @advisor-theme, 0.2s );
			}
		}
	}
}
.editable #rcm-edit-lock {
	.slant-stripe-background( @advisor-theme, 25% );
	color: @key-tone;
	.laurus-icon { color: @advisor-theme; }
}
	.rcm-item {
		.disable-select();
		float:  left;
		height: 130px;
		width:  410px;
		margin: 0 20px;
		.slot-name {
			display:   block;
			font-size: @sub-font-size;
			&::before {
				content: "■ ";
				color:   @advisor-theme;
				opacity: 0.4;
			}
		}
		&.tags-match {
			.rcm-tags {
				display: inline-block;
			}
			.item-card {
				background-color: fade( @cheatsheet-theme, 10% );
			}
		}
		&.recommend {
			.rcm-note::before {
				color:       @accent-color;
				content:     "[推奨] ";
				font-weight: bold;
			}
			.item-card {
				background-color: fade( @accent-color, 10% );
			}
		}
		&.deprecated {
			.label {
				color:           @sub-key-tone;
				text-decoration: line-through;
			}
			.rcm-note::before {
				color:       @inaccent-color;
				content:     "[非推奨] ";
				font-weight: bold;
			}
			.item-card {
				background-color: fade( @inaccent-color, 10% );
			}
		}
		.editable & {
			.item-card:hover {
				background-color: @edit-hover;
			}
		}
		.rcm-acs-rank {
			border-radius: 4px;
			color:         @insparkly-color;
			display:       inline-block;
			font-family:   "Maven Pro";
			font-weight:   bold;
			line-height:    1.5;
			margin-right:   5px;
			text-align:     center;
			width:          25px;

			&[data-rcm-rank="1"], &[data-rcm-rank="2"], &[data-rcm-rank="3"],
			&[data-rcm-rank="4"], &[data-rcm-rank="5"], &[data-rcm-rank="6"],
			&[data-rcm-rank="7"], &[data-rcm-rank="8"], &[data-rcm-rank="9"] {
				color: @accent-color;
				background-color: fade( @accent-color, 10% );
			}

			&::after {
				content: ". ";
			}
		}
		.rcm-tags {
			background:     url( "resources/tag.png" ) no-repeat;
			display:        none;
			height:         15px;
			margin-right:   5px;
			vertical-align: bottom;
			width:          21px;
		}
		.rcm-page {
			font-family: "Maven Pro";
			display:     inline-block;
			margin-left: 20px;
			&::before { content: "( "; }
			&::after  { content: " )"; }
		}
		.rcm-controle-wrapper {
			cursor:      pointer;
			display:     block;
			float:       left;
			overflow:    hidden;
			text-align:  center;
			width:       44px;
			span {
				line-height: 1;
			}
			.controle {
				display:   block;
				font-size: 24px;
			}
			&:hover .controle {
				color:  @advisor-theme;
				.transition( 0.1s );
			}
			&.disabled {
				opacity: 0;
			}
			.dif {
				display:     block;
				font-family: "Maven Pro";
				font-size:   @tiny-font-size;
				line-height: 1;
				margin-top:  25px;
				text-align:  center;
				&.minus { color: @dif-minus; }
				&.plus  { color: @dif-plus;  }
				&.same  {
					color:       @dif-same;
					font-weight: bold;
				}
			}
		}
	}
	.terminus-item {
		.disable-select();
		background:    fade( @purveyor-theme, 10% );
		border-radius: @card-corner;
		float:         left;
		height:        @card-height;
		padding:       10px 20px;
		width:         @card-width;
		span:first-child {
			font-weight: bold;
		}
	}
	#rcm-preview {
		color: @black-key-tone;
		position: absolute;
		display: none;
		z-index: @popup-layer;
		border: 2px solid fade( @advisor-theme, 40% );
		border-radius: 4px;
		font-size: @tiny-font-size;
		padding: 0 10px;
		background:     url( "resources/background.jpg" ) repeat fixed;
		opacity: 0.8;
		&.sparkly {
			display: block;
		}
	}

// dialogue
#stage-select {
	height: 500px;
	width:  840px;
	.content div {
		overflow: hidden;
	}
}
	.chapter {
		clear:  both;
		margin: 0 20px;
	}
		.chapter-label {
			font-size:   @sub-font-size;
			font-weight: bold;
		}
		.stage-area.colosseum {
			margin-top: 5px;
		}
			.select-stage {
				.disable-select();
				display:        block;
				float:          left;
				font-size:      @sub-font-size;
				height:         25px;
				line-height:    25px;
				margin:         0 10px 0 0;
				position:       relative;
				text-align:     center;

				.scenario &,
				.guild &,
				.event & {
					width: 70px;
				}

				.colosseum & {
					width: 170px;
				}

				span {
					border-radius:  3px;
					cursor:         pointer;
					padding:        0 10px;
					&:hover  { border: 1px solid fade( @advisor-theme, 50% );   }
					&:active { .slant-stripe-background( @advisor-theme, 25% ); }
				}
			}
		#stage-custom {
			overflow: hidden;
			padding:  10px 20px;
			.label {
				display:   block;
				font-size: @sub-font-size;
			}
			input {
				.field-border( @advisor-theme );
				display:        block;
				font-size:      @standard-font-size;
				margin-bottom:  15px;
				width:          550px;
			}
		}
			#custom-input-area {
				float: left;
				width: 550px;
			}
				#custom-stage-title { font-weight: bold; }
			#custom-input-determination-area {
				float:       left;
				line-height: 120px;
				margin-left: 100px;
				width:       120px;
				text-align:  center;
			}
				#custom-input-determination {
					.disable-select();
					border-radius: 4px;
					box-sizing:    border-box;
					color:         @sub-key-tone;
					cursor:        pointer;
					display:       inline-block;
					line-height:   1.5;
					padding:       0 10px;
					&:hover  {
						border: 1px solid @advisor-theme;
						color:  @key-tone;
					}
					&:active { .slant-stripe-background( @advisor-theme, 25% ); }
				}

#tag-select {
	width:   720px;

	.tag {
		.tag-factory();
		display:       inline-block;
		margin-bottom: 5px;
		span {
			.tag-color( @color ) {
				color: @color;
				&:hover  { border: 2px solid fade( @color, 25% ); }
				&:active {
					.slant-stripe-background( @color, 10% );
					border: 2px solid fade( @color, 25% );
				}
			}
			&.tag-none          { .tag-color( @TAG-NONE          ); }
			&.sun-care          { .tag-color( @SUN-CARE          ); }
			&.dance             { .tag-color( @DANCE             ); }
			&.floral            { .tag-color( @FLORAL            ); }
			&.winter            { .tag-color( @WINTER            ); }
			&.britain           { .tag-color( @BRITAIN           ); }
			&.swimsuit          { .tag-color( @SWIMSUIT          ); }
			&.shower            { .tag-color( @SHOWER            ); }
			&.kimono            { .tag-color( @KIMONO            ); }
			&.pajamas           { .tag-color( @PAJAMAS           ); }
			&.wedding           { .tag-color( @WEDDING           ); }
			&.army              { .tag-color( @ARMY              ); }
			&.office            { .tag-color( @OFFICE            ); }
			&.apron             { .tag-color( @APRON             ); }
			&.cheogsam          { .tag-color( @CHEOGSAM          ); }
			&.maiden            { .tag-color( @MAIDEN            ); }
			&.evening-gown      { .tag-color( @EVENING-GOWN      ); }
			&.navy              { .tag-color( @NAVY              ); }
			&.traditional       { .tag-color( @TRADITIONAL       ); }
			&.bunny             { .tag-color( @BUNNY             ); }
			&.lady              { .tag-color( @LADY              ); }
			&.lolita            { .tag-color( @LOLITA            ); }
			&.gothic            { .tag-color( @GOTHIC            ); }
			&.sports            { .tag-color( @SPORTS            ); }
			&.harajuku          { .tag-color( @HARAJUKU          ); }
			&.preppy            { .tag-color( @PREPPY            ); }
			&.unisex            { .tag-color( @UNISEX            ); }
			&.future            { .tag-color( @FUTURE            ); }
			&.fairy             { .tag-color( @FAIRY             ); }
			&.rock              { .tag-color( @ROCK              ); }
			&.denim             { .tag-color( @DENIM             ); }
			&.pet               { .tag-color( @PET               ); }
			&.goddess           { .tag-color( @GODDESS           ); }
			&.pop               { .tag-color( @POP               ); }
			&.homewear          { .tag-color( @HOMEWEAR          ); }
			&.chinese-classical { .tag-color( @CHINESE-CLASSICAL ); }
			&.hindu             { .tag-color( @HINDU             ); }
			&.republic-of-china { .tag-color( @REPUBLIC-OF-CHINA ); }
			&.european          { .tag-color( @EUROPEAN          ); }
			&.swordman          { .tag-color( @SWORDMAN          ); }
			&.rain              { .tag-color( @RAIN              ); }
			&.modern-china      { .tag-color( @MODERN-CHINA      ); }
			&.dryad             { .tag-color( @DRYAD             ); }
			&.bohemia           { .tag-color( @BOHEMIA           ); }
			&.paramedics        { .tag-color( @PARAMEDICS        ); }
		}
	}
}
	#dialogue-null-tag-line {
		padding: 10px 0 0 10px;
	}
	#dialogue-tag-collection {
		padding: 10px 0 0 10px;
	}















